# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [1]:
import pandas as pd
dataset = pd.read_csv("data.csv");
dataset.info("data.csv");

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

In [2]:
dataset.describe()

,serviceCharge,telekomHybridUploadSpeed,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,yearConstructedRange,...,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,livingSpaceRange,heatingCosts,lastRefurbish,electricityBasePrice,electricityKwhPrice
count,261941.000000,45020.0,268850.000000,267018.000000,235492.000000,2.283330e+05,211805.000000,2.688500e+05,93052.000000,211805.000000,...,268850.000000,162344.000000,217541.000000,171118.000000,268850.000000,268850.000000,85518.000000,80711.000000,46846.000000,46846.000000
mean,151.206113,10.0,9.791958,3.389001,28.804928,9.013315e+02,1966.400590,1.069697e+08,1.327634,3.714544,...,2.641261,114.749533,2.122405,3.572319,2.571542,3.070790,76.990866,2013.904536,89.113612,0.199769
std,308.295790,0.0,6.408399,1.964874,16.337151,3.323833e+04,46.992207,1.250093e+07,8.361403,2.738134,...,2.633440,61.653663,3.634934,6.375496,0.937594,1.407127,147.716278,10.963125,5.395805,0.009667
min,0.000000,10.0,0.000000,-12.330000,1.000000,0.000000e+00,1000.000000,2.887174e+07,0.000000,1.000000,...,1.000000,0.100000,-1.000000,0.000000,1.000000,1.000000,0.000000,1015.000000,71.430000,0.170500
25%,95.000000,10.0,6.000000,2.000000,10.000000,4.698000e+02,1950.000000,1.066910e+08,1.000000,1.000000,...,2.000000,79.000000,1.000000,2.000000,2.000000,2.000000,54.000000,2012.000000,90.760000,0.191500
50%,135.000000,10.0,9.000000,3.390000,40.000000,6.500000e+02,1973.000000,1.111584e+08,1.000000,3.000000,...,3.000000,107.000000,2.000000,3.000000,3.000000,3.000000,70.000000,2017.000000,90.760000,0.198500
75%,190.000000,10.0,13.000000,4.570000,40.000000,9.850000e+02,1996.000000,1.137688e+08,1.000000,5.000000,...,3.000000,140.300000,3.000000,4.000000,3.000000,4.000000,90.000000,2019.000000,90.760000,0.205500
max,146118.000000,10.0,121.000000,14.920000,100.000000,1.575154e+07,2090.000000,1.157117e+08,2241.000000,9.000000,...,999.990000,1996.000000,999.000000,999.000000,5.000000,7.000000,12613.000000,2919.000000,90.760000,0.227600

In [3]:
dataset.nunique()

regio1                          16
serviceCharge                12266
heatingType                     13
telekomTvOffer                   3
telekomHybridUploadSpeed         1
newlyConst                       2
balcony                          2
picturecount                    95
pricetrend                    1234
telekomUploadSpeed               7
totalRent                    28486
yearConstructed                465
scoutId                     268850
noParkSpaces                    71
firingTypes                    132
hasKitchen                       2
geo_bln                         16
cellar                           2
yearConstructedRange             9
baseRent                     26659
houseNumber                   5510
livingSpace                  13005
geo_krs                        419
condition                       10
interiorQual                     4
petsAllowed                      3
street                       52373
streetPlain                  54490
lift                             2
baseRentRange                    9
typeOfFlat                      10
geo_plz                       7634
noRooms                         64
thermalChar                   7847
floor                           53
numberOfFloors                  57
noRoomsRange                     5
garden                           2
livingSpaceRange                 7
regio2                         419
regio3                        8684
description                 212621
facilities                  189526
heatingCosts                  5669
energyEfficiencyClass           10
lastRefurbish                   88
electricityBasePrice             2
electricityKwhPrice             15
date                             4
dtype: int64

In [4]:
import matplotlib
dataset.duplicated().sum()

0

In [5]:
dataset.isnull().mean().sort_values(ascending=False)
# shows percentage amount of missing values (from 0 to 1)
# logic: less than 5% missing - impute or drop, 5 to 30% missing - impute with domain logic, using unknown placeholder, drop if only low-level value column
# 30-60% - drop or create flags, more than 60% - drop for sure
#therefore consider dropping electricityKwhPrice, electricityBasePrice, lastRefurbish, energyEfficiencyClass, heatingCosts, noParkSpaces, telekomHybridUploadSpeed

telekomHybridUploadSpeed    0.832546
electricityKwhPrice         0.825754
electricityBasePrice        0.825754
energyEfficiencyClass       0.710668
lastRefurbish               0.699792
heatingCosts                0.681912
noParkSpaces                0.653889
petsAllowed                 0.426160
interiorQual                0.419063
thermalChar                 0.396154
numberOfFloors              0.363519
houseNumber                 0.264155
streetPlain                 0.264136
condition                   0.254748
yearConstructed             0.212182
yearConstructedRange        0.212182
firingTypes                 0.211880
facilities                  0.196853
floor                       0.190846
heatingType                 0.166844
totalRent                   0.150705
typeOfFlat                  0.136187
telekomUploadSpeed          0.124077
telekomTvOffer              0.121328
description                 0.073450
serviceCharge               0.025698
pricetrend                  0.006814
regio3                      0.000000
regio2                      0.000000
livingSpaceRange            0.000000
garden                      0.000000
noRoomsRange                0.000000
regio1                      0.000000
noRooms                     0.000000
geo_plz                     0.000000
baseRentRange               0.000000
lift                        0.000000
street                      0.000000
geo_krs                     0.000000
livingSpace                 0.000000
baseRent                    0.000000
cellar                      0.000000
geo_bln                     0.000000
hasKitchen                  0.000000
scoutId                     0.000000
picturecount                0.000000
balcony                     0.000000
newlyConst                  0.000000
date                        0.000000
dtype: float64

In [9]:
dataset['condition'] = dataset['condition'].str.lower().str.strip()

In [11]:
dataset['rent_per_sqm'] = dataset['totalRent'] / dataset['livingSpace']

In [12]:
dataset = dataset.drop(['electricityKwhPrice', 'electricityBasePrice', 'lastRefurbish', 'energyEfficiencyClass', 'heatingCosts', 'noParkSpaces', 'telekomHybridUploadSpeed', 'description'], axis=1)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 42 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   regio1                268850 non-null  object
 1   serviceCharge         261941 non-null  float64
 2   heatingType           223994 non-null  object
 3   telekomTvOffer        236231 non-null  object
 4   newlyConst            268850 non-null  bool
 5   balcony               268850 non-null  bool
 6   picturecount          268850 non-null  int64
 7   pricetrend            267018 non-null  float64
 8   telekomUploadSpeed    235492 non-null  float64
 9   totalRent             228333 non-null  float64
 10  yearConstructed       211805 non-null  float64
 11  scoutId               268850 non-null  int64
 12  firingTypes           211886 non-null  object
 13  hasKitchen            268850 non-null  bool
 14  geo_bln               268850 non-null  object
 15  cellar                268850 non-null  bool
 16  yearConstructedRange  211805 non-null  float64
 17  baseRent              268850 non-null  float64
 18  houseNumber           197832 non-null  object
 19  livingSpace           268850 non-null  float64
 20  geo_krs               268850 non-null  object
 21  condition             200361 non-null  object
 22  interiorQual          156185 non-null  object
 23  petsAllowed           154277 non-null  object
 24  street                268850 non-null  object
 25  streetPlain           197837 non-null  object
 26  lift                  268850 non-null  bool
 27  baseRentRange         268850 non-null  int64
 28  typeOfFlat            232236 non-null  object
 29  geo_plz               268850 non-null  int64
 30  noRooms               268850 non-null  float64
 31  thermalChar           162344 non-null  float64
 32  floor                 217541 non-null  float64
 33  numberOfFloors        171118 non-null  float64
 34  noRoomsRange          268850 non-null  int64
 35  garden                268850 non-null  bool
 36  livingSpaceRange      268850 non-null  int64
 37  regio2                268850 non-null  object
 38  regio3                268850 non-null  object
 39  facilities            215926 non-null  object
 40  date                  268850 non-null  object
 41  rent_per_sqm          228328 non-null  float64
dtypes: bool(6), float64(13), int64(6), object(17)
memory usage: 75.4+ MB

In [13]:
dataset.isnull().mean().sort_values(ascending=False)

petsAllowed             0.426160
interiorQual            0.419063
thermalChar             0.396154
numberOfFloors          0.363519
houseNumber             0.264155
streetPlain             0.264136
condition               0.254748
yearConstructedRange    0.212182
yearConstructed         0.212182
firingTypes             0.211880
facilities              0.196853
floor                   0.190846
heatingType             0.166844
rent_per_sqm            0.150723
totalRent               0.150705
typeOfFlat              0.136187
telekomUploadSpeed      0.124077
telekomTvOffer          0.121328
serviceCharge           0.025698
pricetrend              0.006814
noRooms                 0.000000
date                    0.000000
regio3                  0.000000
regio2                  0.000000
livingSpaceRange        0.000000
garden                  0.000000
noRoomsRange            0.000000
newlyConst              0.000000
balcony                 0.000000
picturecount            0.000000
geo_bln                 0.000000
geo_plz                 0.000000
cellar                  0.000000
baseRentRange           0.000000
lift                    0.000000
street                  0.000000
geo_krs                 0.000000
livingSpace             0.000000
scoutId                 0.000000
baseRent                0.000000
hasKitchen              0.000000
regio1                  0.000000
dtype: float64

In [27]:
#Object columns identified for renaming NaN to 'unknown'
object_cols_to_rename_nan = [
    'regio1', 'heatingType', 'telekomTvOffer', 'firingTypes',
    'geo_bln', 'houseNumber', 'geo_krs', 'condition', 'interiorQual',
    'petsAllowed', 'street', 'streetPlain', 'typeOfFlat', 'regio2',
     'regio3', 'facilities', 'date'# ill include 'date' though likely it is not needed for imputation
]

for col in object_cols_to_rename_nan:
    if col in dataset.columns:
        if dataset[col].dtype == 'object':
            dataset[col] = dataset[col].fillna('unknown')
            print("Renamed NaN to 'unknown' in column: ")
        else:
            print ("Column  is not of object dtype, skipping NaN rename.")
    else:
        print("Column  not found in DataFrame.")

if 'description' in dataset.columns:
    dataset.drop(columns=['description'], inplace=True)
    print("Dropped column:  description as it's not required for insights.")

# need to consult variables (condition, interiorQual, petsAllowed, hasKitchen)

Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Column  is not of object dtype, skipping NaN rename.
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:
Renamed NaN to 'unknown' in column:

In [36]:
#Total rent calculation (if applicable)
dataset['totalRent'] = dataset.apply(
    lambda row: row['baseRent'] + row['serviceCharge'] if pd.isnull(row['totalRent']) and pd.notnull(row['baseRent']) and pd. notnull(row['serviceCharge']) else row['totalRent'],
    axis=1
 )
print("Attempted to calculate missing totalRent values.")
# need to check still for missing values

Attempted to calculate missing totalRent values.

In [48]:
#Imputation strategies based on potential distribution (will need confirmation)
#Median for potentially skewed data (serviceCharge, telekomUploadSpeed, totalRent, yearConstructed, yearConstructedRange, floor)
#Mean for potentially normally distributed data (pricetrend)

#Median columns
median_impute_cols = [
    'serviceCharge', 'telekomUploadSpeed', 'totalRent'
]

for col in median_impute_cols:
    if col in dataset.columns:
        if dataset[col].isnull().any():
            median_val = dataset[col].median()
            dataset[col] = dataset[col].fillna(median_val)
            print("Imputed missing values in ''  with median ()")
    else:
        print("Column  not  found in DataFrame.")

#Mean columns
mean_impute_cols = ['pricetrend']

for col in mean_impute_cols:
    if col in dataset.columns:
        if dataset[col].isnull().any():
            mean_val = dataset[col].mean ()
            dataset[col] = dataset[col].fillna(mean_val)
            print("Imputed missing values in '' with mean ()")
    else:
        print("Column not found in DataFrame.")

In [47]:
# Outlier Handling for service Charge (Example: Capping extreme values at 99%th percentile + margin)
if 'serviceCharge' in dataset.columns:
    upper_threshold  = dataset['serviceCharge'].quantile(0.99) * 1.1 
    initial_outlier_count = dataset[dataset['serviceCharge'] > upper_threshold].shape[0]
    dataset['serviceCharge'] = dataset['serviceCharge'].clip(upper=upper_threshold)
    print("Capped serviceCharge outliers.")

#  Outlier Handling for totalRent
if 'totalRent' in dataset.columns:
    upper_threshold_totalRent = 10000
    initial_outlier_count_totalRent = dataset[dataset['totalRent'] > upper_threshold_totalRent].shape[0]
    dataset['totalRent'] = dataset['totalRent'].clip(upper=upper_threshold_totalRent)
    print("Capped totalRent outliers above 10000€")

Capped serviceCharge outliers.
Capped totalRent outliers above  10000€

In [49]:
dataset.isnull().mean().sort_values(ascending=False) ##great, need to deal with thermalChar, numberOfFloors, rent_per_sqm

thermalChar             0.396154
numberOfFloors          0.363519
rent_per_sqm            0.150723
petsAllowed             0.000000
street                  0.000000
streetPlain             0.000000
lift                    0.000000
baseRentRange           0.000000
typeOfFlat              0.000000
geo_plz                 0.000000
noRooms                 0.000000
floor                   0.000000
serviceCharge           0.000000
noRoomsRange            0.000000
garden                  0.000000
livingSpaceRange        0.000000
regio2                  0.000000
regio3                  0.000000
facilities              0.000000
date                    0.000000
interiorQual            0.000000
regio1                  0.000000
geo_krs                 0.000000
livingSpace             0.000000
heatingType             0.000000
telekomTvOffer          0.000000
newlyConst              0.000000
balcony                 0.000000
picturecount            0.000000
pricetrend              0.000000
telekomUploadSpeed      0.000000
totalRent               0.000000
yearConstructed         0.000000
scoutId                 0.000000
firingTypes             0.000000
hasKitchen              0.000000
geo_bln                 0.000000
cellar                  0.000000
yearConstructedRange    0.000000
baseRent                0.000000
houseNumber             0.000000
condition               0.000000
dtype: float64